/* BLOG POSTS */
.header-blog {
  width: 100%;
  height: 500px;
  background-color: #ccc;
}

.blog-title h2 {
  margin-top: 80px;
  width: fit-content;
  margin-left: 10%;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/* BLOG CONTAINER */
.posts-container {
  width: 100%;
  height: auto;
  margin: 30px 0 80px 0;
}

/* POSTS CONTAINER */
.posts {
  width: 80%;
  border: 1px solid black;
  text-decoration: none;
  margin-left: 10%;
  margin-bottom: 40px;
}

.posts-title {
  width: fit-content;
  margin: 20px 0 20px 20px;
}

.posts-title a {
  text-decoration: none;
  color: black;
}

/* POSTS DATE */
.posts-title p {
  margin-top: 10px;
  font-size: 18px;
}

.posts-text-button {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.posts-featured-img img {
  width: 100%;
  /* height: fit-content; */
}

.posts-details {
  display: flex;
  margin: 20px;
}

.posts-details p {
  width: auto;
}

/* READ-MORE BUTTON */
.readmore-button {
  width: 154px;
  height: 48px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 1s;
  /* border-radius: 6px; */
  border: none;
  border: 1px solid black;
  margin-top: 20px;
}

.readmore-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  .posts-details {
    flex-direction: column;
    align-items: center;
  }
  .posts-details p {
    margin-top: 20px;
    width: auto;
  }
  .posts-text-button {
    margin-left: 0px;
  }
}
