@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Roboto', sans-serif;
}

body {
    background: white;
    font-family: roboto;
}

/* TOPNAV */
.logo img {
    position: absolute;
    left: 10%;
    top: 10px;
}

.topnav {
    overflow: hidden;
    background: black;
    width: 100%;
    height: auto;
    text-align: center;
    /* padding-left: 35%; */
    /* padding-right: 10%; */
    text-align: center;
}

.topnav a {
    display: inline-flex;
    color: white;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.topnav a:hover {
    color: #1ab6d9;
}

.topnav a.active {
    color: #1ab6d9;
}

.topnav a.icon {
    color: white;
    display: none;
}

/* LINKS */
.links {
    margin-top: 30px;
    margin-left: 10%;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.links a.active {
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
}

/* FOOTER */
.footer {
    height: 300px;
    width: 100%;
    background-color: black;
    position: relative;
    text-align: center;
}

.copyright p {
    margin-top: 20px;
    color: white;
    font-size: 15px;
    padding-bottom: 25px;
}

.footer-links {
    padding-top: 25px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.footer-links a:hover {
    font-weight: bold;
}

.fa {
    margin-top: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.footer-logo {
    position: absolute;
    float: left;
    margin-left: 159px;
    margin-top: 20px;
}

/* FORM ERROR */
.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
    margin-bottom: 20px;
}

/* LOADER */
.fa-plane {
    font-size: 2em;
    color: black;
}

.loader {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    animation: loader 0.7s infinite;
}

@keyframes loader {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* MEDIA QUERIES - TOPNAV */
@media screen and (max-width: 950px) {
    .logo img {
        top: 5%;
    }

    .topnav a {
        display: none;
    }

    .topnav a.active {
        display: none;
    }

    .topnav a {
        float: left;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0%;
        top: 0px;
    }

    .topnav.responsive {
        padding-top: 100px;
        width: 100%;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 8%;
    }
}