.navbar {
    background-color: black;
    font-family: montserrat;

    .offcanvas-body {
        background-color: black;
    }

    .offcanvas-header {
        background-color: black;
    }

    .fa-plane {
        color: white;
        margin-top: 1rem;
    }
}